* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("image/background.jpg") no-repeat center;
    background-size: cover; 
} 
.outer-container {
    position: relative;
    width: 900px;
    height: 500px;
    background: transparent;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: 500px #00275B;
    box-shadow: 0 10px 30px #265572;
}
.logo { 
    position: absolute;
    top: 30px;
    left: 25px;
    width: 90px;
}
.welcome-section {
    width: 45%;
    color: #273c49;
}
.welcome-section h1 {
    font-size: 33px;
    margin-bottom: 10px;
    padding-left: 25px;
}
.welcome-section p {
    font-size: 16px;
    line-height: 1.6;   
    color:rgb(37, 65, 78);
    padding-left: 45px;
}
.login-container p {
    margin-top: 15px;
    margin-left: 37px;
    font-size: 13px;
}
.login-container {
    width: 340px;
    background: transparent;
    padding: 20px;
    border: 10px #00275B;   
    border-radius: 20px;
    box-shadow: 0 10px 20px #00275B;
}
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #202020;
}
.login-container label {
    display: block;
    margin-top: 12px;
    font-size: 14px;
    color: #444444;
}
.login-container input {
    width: 100%;
    padding: 9px;
    margin-top: 6px;
    background: transparent;
    border: 2px solid #ababac;  
    border-radius: 6px;
}
.login-container input:focus {
    outline: none;
    border-color: #31b3ff;
    box-shadow: 10px #1a7dff;   
}
.login-container button {
    width: 120px;
    margin-top: 20px;
    margin-left: 90px;
    margin-right: 10px;
    padding: 10px;
    background: #007bff;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.login-container button:hover {
    background: #005fd1;
}
.register-container{
    width: 430px;
    margin-top: 0px;
    background: transparent;
    padding: 20px;
    border: 10px #00275B;   
    border-radius: 20px;
    box-shadow: 0 10px 20px #00275B;
}
.register-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #272727;
}
.register-container label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #444444;
}
.register-container input {
    width: 350px;
    padding: 8px;
    margin-top: 0px;
    background: transparent;
    border: 2px solid #ababac;  
    border-radius: 6px;
}
.register-container input:focus {
    outline: none;
    border-color: #31b3ff;
    box-shadow: 10px #1a7dff;   
}
.register-container button {
    width: 120px;
    margin-top: 15px;
    margin-left: 130px;
    margin-right: 10px;
    padding: 10px;

    background: #007bff;
    color: white;
    font-size: 14px;

    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.register-container button:hover {
    background: #005fd1;
}
.register-container p {
    margin-top: 15px;
    margin-left: 90px;
    font-size: 13px;
}
